<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1 id="edit-h1">Edit the Trivia Question</h1>
    <form
      id="editform"
      action="/trivia/<%=trivia.id%>?_method=PUT"
      method="POST"
    >
      <!--  NOTE: the form is pre-populated with values for the server-->
      Question:
      <input
        class="editfields"
        type="text"
        name="question"
        value="<%=trivia.question%>"
      /><br />
      Answer 1:
      <input
        class="editfields"
        type="text"
        name="answer1"
        value="<%=trivia.answer1%>"
      /><br />
      Answer 2:
      <input
        class="editfields"
        type="text"
        name="answer2"
        value="<%=trivia.answer2%>"
      /><br />
      Answer 3:
      <input
        class="editfields"
        type="text"
        name="answer3"
        value="<%=trivia.answer3%>"
      /><br />
      Answer 4:
      <input
        class="editfields"
        type="text"
        name="answer4"
        value="<%=trivia.answer4%>"
      /><br />
      Correct Answer:
      <input
        id="correctsize"
        class="editfields"
        type="number"
        name="correctAnswer"
        value="<%=trivia.correctAnswer%>"
      />
      Category:
      <select id="categorybox" name="categoryId">
        Category: <% for ( let i = 0; i < categories.length; i++ ) { let
        selected = ( i == 0 ) ? "selected" : ""; %>
        <option value="<%=categories[i].id%>" selected
          ><%=categories[i].name%>
        </option>
        <% } %>
      </select>
      <br />

      <input id="submitchange" type="submit" value="Submit Changes" /> <br />
      <br />

      <a href="/trivia">Return to Main Trivia Page</a>
    </form>
  </body>
</html>
