<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <title>Document</title>
</head>

<body>
    <h1>Trivia Database</h1>
    <a id="addButton" href="/trivia/new">Add New Trivia Question</a>

    <a id="logout" href="/auth/logout">Log Out</a>
        
    <ol class="trivia">
        <div name="triviaDiv">
           <% for (let i = 0; i < trivia.length; i++) { %>
           <div">
               <li id="question">
                   <a href="/trivia/<%= trivia[i].id%>">Question:  -   <%= trivia[i].question %></a> <br>
                   <a href="/trivia/<%= trivia[i].id%>">Answer 1:  -   <%= trivia[i].answer1 %></a> <br>
                   <a href="/trivia/<%= trivia[i].id%>">Answer 2:  -   <%= trivia[i].answer2 %></a><br>
                   <a href="/trivia/<%= trivia[i].id%>">Answer 3:  -   <%= trivia[i].answer3 %></a><br>
                   <a href="/trivia/<%= trivia[i].id%>">Answer 4:  -   <%= trivia[i].answer4 %></a><br>
                   <a href="/trivia/<%= trivia[i].id%>">Correct Answer:  -   <%= trivia[i].correctAnswer %></a><br>
                   <a href="/trivia/<%= trivia[i].id%>"><%= trivia[i].categoryId %></a>
               <div id="edit">
                   <form action="/trivia/<%=trivia[i].id%>?_method=DELETE" method="POST">
                       <input id="delButton" type="submit" value="Delete" />
                   </form>
                   <a id="editButton" href="/trivia/<%=trivia[i].id%>/edit">Edit</a>
               </div>
                <br /><br />
                <% } %>
            </div>
    </ul>
    </div>
</body>

</html>