<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia App</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <div class="edit-h1">
      <h1 >Trivia Question Show Page</h1>
    </div>

    <textarea id="questiontext" rows="2" cols="75">Question:  <%= trivia.question %></textarea>
      <textarea class="answertext" rows="1" cols="75"> Answer 1:  <%= trivia.answer1 %></textarea>
      <textarea class="answertext" rows="1" cols="75"> Answer 2:  <%= trivia.answer2 %></textarea>
      <textarea class="answertext" rows="1" cols="75"> Answer 3:  <%= trivia.answer3 %></textarea>
      <textarea class="answertext" rows="1" cols="75"> Answer 4:  <%= trivia.answer4 %></textarea>
      <textarea class="answertext" rows="1" cols="75"> Correct Answer:  <%= trivia.correctAnswer %> </textarea>
      
      <textarea class="answertext" rows="1" cols="50"> Category: <%= categories.name %></textarea>
            <br>
    
    
    <div id="editshow">
        <a class="trivialinks" href="/trivia/<%=trivia.id%>/edit">Edit</a>
        <a class="trivialinks" href="/trivia">Return to Main Trivia Page</a>
    <form class="trivialinks" action="/trivia/<%=trivia.id%>?_method=DELETE" method="POST">
      <input class="trivialinks" type="submit" value="Delete" />
    </form>
    </div>

  </li>

  </body>
</html>
