<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile Page</title>
    <link rel="stylesheet" href="/app.css" />
    <style>
      h1.a {
        font-family: "Arial Narrow", Helvetica, sans-serif;
      }
      h1.b {
        font-family: "Franklin Gothic Medium", Helvetica, sans-serif;
      }

      p.a {
        font-family: "Arial Narrow", "Franklin Gothic Medium", Arial, sans-serif;
      }

      p.b {
        font-family: "Arial Rounded MT", "Franklin Gothic Medium", Arial,
          sans-serif;
      }
    </style>
  </head>

  <body>
    <h1 class="a">Welcome to <%= user.name %>'s Profile Page</h1>

    <form
      id="profileform"
      action="/users/profile/<%=user.id%>?_method=PUT"
      method="POST"
    >
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      <input class="trivialinks" type="submit" value="Edit Profile" />
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input class="trivialinks" type="submit" value="Delete User" />
    </form>

    <br /><br />
    <div id="profilenav">
      <a class="trivialinks" id="href" ="/">Back to Log-in Homepage</a><br />
      <br />
      <a class="trivialinks" href="/trivia">Proceed to Trivia Database</a>
    </div>
  </body>
</html>
